body {

background-color: #94b5a6;
font-family: 'Lato', sans-serif

}

#conteiner {
	width: 1500px;
	margin-left: auto;
	margin-right: auto;

}

#logo {
	
	margin-top: 20px;
	text-align: center;

}

h1 {
	color: yellow;
	font-size: 42px;
	font-weight: 900;
	letter-spacing: 3px;
	line-height: 36px;
  }

#menu {
	width: 1500px;
	height: 100px;
	background-color: #128870

}

#sidebar {
float: left;
width: 181px;
min-height: 620px;
padding: 20px;
background-color: lightgrey;
font-size: 18px;
text-align: center;
border-right: 2px dotted #666666;

}

#content {
float: left;
padding: 40px;
width: 1197px;
background-color: #dedede;
min-height: 580px;
text-align: justify;
}

.tags {
font-size: 18px;
height: 25px;
padding: 10px;
border-bottom: 2px dotted 
}

.tags:hover {
background-color: #f2594b;
color: white;
cursor: pointer;
}




input,
textarea {
  width: 100%;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #ccc; }



*,
*::before,
*::after {
  box-sizing: inherit; }

.crud {
  margin-bottom: 20px; 
  margin-left: auto;
  margin-right: auto;
}



@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } } 




.datatable__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #ccc;
  border-bottom: none;
  margin: 0; }

.datatable__row-section-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-around; }

.datatable__row:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.datatable__row:last-of-type {
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.datatable__row input,
.datatable__row textarea {
  display: none; }

.datatable__row .datatable__button--editing {
  display: none; }

.datatable__row--editing input,
.datatable__row--editing textarea {
  display: block; }

.datatable__row--editing .datatable__field-value {
  display: none; }

.datatable__row--editing .datatable__button {
  display: none; }

.datatable__row--editing .datatable__button--editing,
.datatable__row--editing .datatable__button--card-creation {
  display: block; }

.datatable__row--add input,
.datatable__row--add textarea {
  display: block; }

.datatable__field-value {
  margin-bottom: 0;
  font-size: 14px; }

.datatable__row-section {
  border: none;
  margin: 0;
  padding: 10px;
  flex-grow: 1; }

.datatable__row-section--button-section,
.datatable__row-section--trello-section {
  margin-left: auto;
  align-self: center;
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  float:left;  }

.datatable__input-label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin: 5px auto;
  font-weight: 500;
  letter-spacing: 0.6px; 
  float: left;

}

.datatable__button {
  color: #fff;
  background-color: #28a745;
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 12px;
  min-width: 120px;
  line-height: 1.25;
  border-radius: 4px;
  float:left;
}

.datatable__select {
  display: block;
  margin-bottom: 10px; }

.datatable__books-container:empty {
  position: relative; }

.datatable__books-container:empty::after {
  content: 'Currently, there are no books available.'; }

.template {
  display: none; }